--- 
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_nginx.sh: 
    content: |
        #!/usr/bin/env bash
        . /opt/elasticbeanstalk/support/envvars
        service httpd stop
        service nginx restart
        service php-fpm restart
        service varnish restart
    group: root
    mode: "000755"
    owner: root
